<h2>Hero List</h2>
<table>
  <thead>
    <tr>
      <th>Persona</th>
      <th>Alias</th>
      <th>Update</th>
      <th>Power Name</th>
      <th>Description</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="hero in hlc.HeroesArray">
      <td><input ng-model="hero.persona"></td>
      <td><input ng-model="hero.alias"></td>
      <td><button ng-click="hlc.updateHero(hero)">Update Persona/Alias</button></td>
      <td>{{hero.name}}</td>
      <td>{{hero.description}}</td>
      <td><button type="button" class="delete" ng-click="hlc.removeHero(hero.id)">X</button></td>
    </tr>
  </tbody>
</table>
